<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user" method="post">
        <label for="">full name</label>
        <input type="text" required name="name">
        <br>
        <label for="">Email</label>
        <input type="email" required name="email">
        <br>
        <label for="">password</label>
        <input type="password" required name="password">
        <br>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>